html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    width: 485px;
    margin: 0 auto;
}

/*header {

}
*/
li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 14px 16px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    list-style-type: none;
}

nav a {
    font-size: 1.5em;
    color: #ffffff;
    /*display: inline-block;
    position: relative;
*/
}

[href="#top"]{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #000000;
}

h1 {
    background-color: #ffffff;
    color: #007d7b;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
}

main {
    background-color: #ffffff;
}

#about {
    background-color: #ffffff;
}

#gallery {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

#contact {
    background-color: #000000;
    color: #ffffff;
}

p {
    font-size: 1.25em;
}

figcaption {
    text-transform: uppercase;
    display: inline;
    justify-content: center;
    margin-left: 150px;
    text-align: center;
}

figure {
    position: relative;
    display: block;
}

.top {
    position: absolute;
    top: 20px;
    justify-content: center;
    
}

.bottom {
    position: absolute;
    bottom: 10px;
    justify-content: center;

}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
}

img {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}
#contact p {
    text-align: center;
}
figcaption, label, input, small {
    font-size: 1em;
}
form {
    text-align: center;
}

label {
    text-transform: uppercase;
    float: left;
    margin-left: 12px;
}

input {
    width: 90%;
    padding: 5px 10px;
}

input[type=button],input[type=submit], input[type=reset] {
    width: 35%;
    padding: 10px 15px;
    background-color: #007d7b;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 6px 4px;  
    border: none;
}

input::placeholder {
    text-transform: uppercase;
    color: #007d7b;
}


footer {
 color: #ffffff;
 text-align: center;
 margin-top: 20px;
}

@media screen and (min-width: 880px) {
    #gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1330px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}